[defaults]
inventory = inventory/hosts.ini
remote_user = ansible
private_key_file = ~/.ssh/id_rsa
roles_path = ./roles:~/.ansible/roles:/usr/share/ansible/roles
colleciotns_path = ./collections:~/.ansible/collections:/usr/share/ansible/collections

[shh_connections]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
