[DEAFAULT]
# Backend for log parsing - systemd is required on CENTOS 9
# because SSH logs to journald, not /var/log/secure

backend = systemd
bantime = {{ hardening_fail2ban_bantime }}
findtime = {{ hardening_fail2ban_findtime }}
maxretry = {{ hardening_fail2ban_maxretry }}
ignoreip = 127.0.0.1/8 ::1 {{ ansible_facts['default_ipv4'['address']}}

{% if hardening_fail2ban_ignoreip %} {{ hardening_fail2ban_ignoreip | join(''){% endif %}

[sshd]
enabled = true
port = ssh
filter = sshd
logpath = journal
backend = systemd
